body{
   
    background-color: blueviolet;
    width: 1000px;
    height:1000px;
   
}
.App{
align-items: baseline;
  background-color: blueviolet;
  width: 800px;
  height: 800px;
  
}
.bt{
     font-size: 50px;
     text-align:center;
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 60px;
}
h1{
  text-align: center;
}

