body{
     align-items: center;
    background-color:black;
  
    color: yellow
   
}
.app{
  
font-size: 40px;
font-family: fantasy;
 text-align: center;
  width: 1000px;
  height: 1000px;
 
  
}
.bt{
     margin: auto ;
     font-size: 85px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     position: relative;
    width: 110px;
    height: 110px;
    display: grid;
    grid-template-columns: 33% 33% 33% 33% 33% 33% ;
    gap: 75px;
    
    color:yellow;
    outline: 10px auto blue;
    background-color: black;
 
}
h1{
  font-size: 50px;
  margin: initial;
  font-family: fantasy;
  text-align: center;
}

