.app{
  align-items: center;
 width: 1300px;
  height: 800px;
  text-align: center;
  font-size: 40px;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: chartreuse;
}
div.grid{
  margin: 0 auto;
  

  width: 301px;
  height: 301;
  background-color:red;
}
.bt{
     font-size: 70px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    gap: 70px;
    align-items: center;
    
    color:yellow;
    outline: 10px auto blue;
    background-color: black;
 
}
h1{
  font-size: 100px;
}
